<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <span class="navbar-brand">Appointment Booking  </span>
      <a class="navbar-brand"  routerLink="/homepage"
      routerLinkActive="active-link"
      style="margin-left: 10px;"
      >HomePage  </a>
      <a class="navbar-brand"  routerLink="/detailpage"
     
      style="margin-left: 10px;"
      >Details-Page  </a>

      <a class="navbar-brand"
      routerLink="/"
      style="float: right;"
      >Logout</a>
    </div>
  </nav>
 
<h1 style="margin-left:690px;margin-top: 200px;">Appointment Booking</h1>